# Binary files that aren't needed
*.jar

*.class

*.bak
FRCUserProgram

# Generated .gitIgnore files from eclipse
*.gitignore
/bin/

# Files that might appear in the root of a volume
.Gradle

# Further ignore
/build/
/.gradle/

